{% extends 'base.html' %}
{% block body %}

<h2>{{movie.title}}</h2>
<p>Release Date: {{movie.release_date.strftime('%m-%d-%Y')}}</p>
<p>Average Rating: {{"%.2f" % average}}</p>

{% if prediction %}
    <h3>We predict that you will rate this movie {{"%.2f" % prediction}}.</h3>
    <br />
    <div class="choose-rating"><p>Choose your rating</p>
    <div class="stars" data-movie="{{movie.id}}">
        <input type="radio" name="star" data-rating="1" class="starclick 1"/>
        <input type="radio" name="star" data-rating="2" class="starclick 2"/>
        <input type="radio" name="star" data-rating="3" class="starclick 3"/>
        <input type="radio" name="star" data-rating="4" class="starclick 4" />
        <input type="radio" name="star" data-rating="5" class="starclick 5"/>
    </div>
</div>
{% else %}
    <p>You rated this movie: {{user_rating.rating}}</p>
{% endif %}
<br />
<div class="successful-rating"><p>Rating saved</p></div>
<br />
<form action="/search_movies">
    <input type="submit" value="Search for another movie">
</form>

<script type="text/javascript">

function clickStar(event, obj){
    movie_id = obj.parent().attr('data-movie');
    rating = obj.attr('data-rating');

    var data = {
        "movie_id": movie_id,
        "rating": rating,
        "user_id": {{user_id}}
    };

    $.ajax({
        url: "/set_rating",
        data: data,
        type : "POST"
    }).done(function(response) {
        console.log("success")
    });
}

$(document).ready(function() {
    $('.starclick').click(function(event) {
       clickStar(event, $(this));
       $('.successful-rating').show();
    });
});

</script>

{% endblock %}